@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
nav{
    background-color:#E8E8E8;
    color:yellow;
}
#hi h3{
    font-family: 'Lobster', cursive;
    text-align: center;
    text-transform: capitalize;
    font-size:24px;
}
.fa-laptop-code{
    padding-left: 45%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-item a:hover{
    background-color: white;
    color:black;
}
.nav-item a{
    color:black;
    text-align: center;
}
#about{
    background-color:cornsilk
}
#about h2{
    font-weight: bold;
    padding-left: 20px;
}
.image{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
#about p{
    padding-left:20px;
    padding-right: 20px;
    text-align:center;
}
