body{
    background-color: #ADD8E6;
}
.nav-item a:hover{
    background-color: white;
    color:black;
}
.nav-item a{
    color:black;
}
#about{
    background-color:cornsilk
}
#about h2{
    margin-top: 25px;
    font-weight: bold;
    padding-left: 20px;
}
.image{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

